build
__pycache__/
problems.pkl
*.out
*.json
!resources/ffw_sg2_main.json
!resources/ffw_sg2_approx.json
!resources/ffw_sg2_struct.json
!resources/ffw_sg2_single_main.json
!resources/ffw_sg2_single_approx.json
!resources/ffw_sg2_single_struct.json
!resources/ffw_sg2/ffw_sg2_fine_spheres.json
!resources/ffw_sg2/collision_model_metadata.json
!resources/ffw_sg2/ffw_sg2_single_collision_metadata.json
!scripts/ffw_sg2_problems.json
!scripts/ffw_sg2_single_problems.json
!scripts/g1_problems.json
*.sqlite
*.nsys-rep
Pipfile
Pipfile.lock
test_output
plots
traces/
*.csv
.python-version
*.sh
